*EXPLICAÇÃO*

O comando pip install --upgrade pip é utilizado para atualizar a ferramenta pip para a versão mais recente disponível.

*O que acontece quando você executa esse comando?*
*Verificação da versão atual:* O pip verifica a versão que você está utilizando atualmente.

*Download da nova versão:* Se houver uma versão mais recente disponível, o pip faz o download dessa nova versão.

*Instalação da nova versão:* A nova versão do pip é instalada, substituindo a versão antiga.

*Por que atualizar o pip?*
*Novos recursos:* Atualizações geralmente trazem novos recursos e melhorias.
*Correções de bugs:* Versões mais novas costumam corrigir bugs e problemas de segurança.
*Compatibilidade:* Manter o pip atualizado ajuda a garantir que ele funcione bem com pacotes mais recentes e suas dependências.
Como usar
Basta abrir o terminal ou o prompt de comando e executar:

bash
Copiar código
pip install --upgrade pip
*Resumo*
O comando pip install --upgrade pip é uma maneira simples de garantir que você tenha a versão mais recente do gerenciador de pacotes Python, permitindo uma melhor experiência ao instalar e gerenciar bibliotecas.

In [6]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\program files\python312\lib\site-packages (23.2.1)
Collecting pip
  Obtaining dependency information for pip from https://files.pythonhosted.org/packages/ef/7d/500c9ad20238fcfcb4cb9243eede163594d7020ce87bd9610c9e02771876/pip-24.3.1-py3-none-any.whl.metadata
  Downloading pip-24.3.1-py3-none-any.whl.metadata (3.7 kB)
Downloading pip-24.3.1-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
    --------------------------------------- 0.0/1.8 MB 330.3 kB/s eta 0:00:06
   - -------------------------------------- 0.1/1.8 MB 491.5 kB/s eta 0:00:04
   --- ------------------------------------ 0.2/1.8 MB 1.1 MB/s eta 0:00:02
   --------- ------------------------------ 0.4/1.8 MB 1.9 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.8 MB 2.5 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.8 MB 2.5 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.8 MB 2.5 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.8 MB 2.5 MB/s eta 0:00:01
   ------------- -------------------------- 0.6/1.8 MB 1.4 MB/s eta 0:00:01
   -------------- ------------------------- 0.6/1.8 MB 1.4 MB/s eta 0:00:01
   --------------- ------------------------ 0.7/1.8 MB 1.4 MB/s eta 0:00:01
   ------------------ --------------------- 0.8/1.8 MB 1.5 MB/s eta 0:00:01
   -------------------- ------------------- 0.9/1.8 MB 1.6 MB/s eta 0:00:01
   ---------------------- ----------------- 1.0/1.8 MB 1.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.1/1.8 MB 1.7 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 1.6 MB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 861.6 kB/s eta 0:00:01
   ------------------------- -------------- 1.2/1.8 MB 861.6 kB/s eta 0:00:01
   -------------------------- ------------- 1.2/1.8 MB 840.9 kB/s eta 0:00:01
   ---------------------------- ----------- 1.3/1.8 MB 836.1 kB/s eta 0:00:01
   ------------------------------ --------- 1.4/1.8 MB 882.5 kB/s eta 0:00:01
   --------------------------------- ------ 1.5/1.8 MB 954.6 kB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 739.5 kB/s eta 0:00:01
   ---------------------------------------  1.8/1.8 MB 739.5 kB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 715.9 kB/s eta 0:00:00
Installing collected packages: pip
Successfully installed pip-24.3.1
Note: you may need to restart the kernel to use updated packages.

*EXPLICAÇÃO*

O comando pip install mysql-connector é utilizado para instalar a biblioteca mysql-connector-python, que permite que você se conecte e interaja com um banco de dados MySQL a partir de um script Python.

*O que acontece quando você executa esse comando?*
*Instalação da biblioteca:* O pip (Python Package Installer) baixa e instala a biblioteca mysql-connector-python do repositório oficial do Python (PyPI).

*Dependências:* O pip também cuida de instalar qualquer dependência necessária para que a biblioteca funcione corretamente.

Uso em seu código: Após a instalação, você pode importar a biblioteca em seus scripts Python, permitindo que você faça operações como conectar-se ao banco de dados, executar consultas, manipular dados, etc.

Exemplo de uso após instalação
Depois de instalar, você pode usar a biblioteca da seguinte forma:

python
Copiar código
import mysql.connector

# Conectar ao banco de dados
conexao = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)

# Criar um cursor
cursor = conexao.cursor()

# Executar um comando
cursor.execute("SHOW DATABASES")

# Exibir os resultados
for banco in cursor:
    print(banco)

# Fechar a conexão
cursor.close()
conexao.close()
*Resumo*
Usar pip install mysql-connector é o primeiro passo para utilizar a biblioteca que facilita a interação com bancos de dados MySQL em Python. É importante garantir que o MySQL esteja instalado e em funcionamento no seu sistema para que a conexão funcione corretamente.

In [8]:
pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 5.6 MB/s eta 0:00:03
     - -------------------------------------- 0.5/11.9 MB 5.6 MB/s eta 0:00:03
     - -------------------------------------- 0.5/11.9 MB 5.6 MB/s eta 0:00:03
     - -------------------------------------- 0.5/11.9 MB 5.6 MB/s eta 0:00:03
     - -------------------------------------- 0.5/11.9 MB 5.6 MB/s eta 0:00:03
     - -------------------------------------- 0.5/11.9 MB 5.6 MB/s eta 0:00:03
     --- ----------------------------------- 1.0/11.9 MB 606.3 kB/s eta 0:00:18
     --- ----------------------------------- 1.0/11.9 MB 606.3 kB/s eta 0:00:18
     --- ----------------------------------- 1.0/11.9 MB 606.3 kB/s eta 0:00:18
     ------ -------------------------------- 1.8/11.9 MB 805.4 kB/s eta 0:00:13
     ------ -------------------------------- 1.8/11.9 MB 805.4 kB/s eta 0:00:13
     ------ -------------------------------- 1.8/11.9 MB 805.4 kB/s eta 0:00:13
     ------ -------------------------------- 1.8/11.9 MB 805.4 kB/s eta 0:00:13
     ------ -------------------------------- 2.1/11.9 MB 682.7 kB/s eta 0:00:15
     -------- ------------------------------ 2.6/11.9 MB 803.0 kB/s eta 0:00:12
     -------- ------------------------------ 2.6/11.9 MB 803.0 kB/s eta 0:00:12
     -------- ------------------------------ 2.6/11.9 MB 803.0 kB/s eta 0:00:12
     -------- ------------------------------ 2.6/11.9 MB 803.0 kB/s eta 0:00:12
     --------- ----------------------------- 2.9/11.9 MB 693.1 kB/s eta 0:00:13
     ---------- ---------------------------- 3.1/11.9 MB 720.9 kB/s eta 0:00:13
     ----------- --------------------------- 3.4/11.9 MB 759.7 kB/s eta 0:00:12
     ----------- --------------------------- 3.4/11.9 MB 759.7 kB/s eta 0:00:12
     ------------ -------------------------- 3.7/11.9 MB 754.6 kB/s eta 0:00:11
     ------------- ------------------------- 4.2/11.9 MB 817.0 kB/s eta 0:00:10
     ------------- ------------------------- 4.2/11.9 MB 817.0 kB/s eta 0:00:10
     --------------- ----------------------- 4.7/11.9 MB 861.6 kB/s eta 0:00:09
     --------------- ----------------------- 4.7/11.9 MB 861.6 kB/s eta 0:00:09
     --------------- ----------------------- 4.7/11.9 MB 861.6 kB/s eta 0:00:09
     --------------- ----------------------- 4.7/11.9 MB 861.6 kB/s eta 0:00:09
     ---------------- ---------------------- 5.0/11.9 MB 780.3 kB/s eta 0:00:09
     ------------------ -------------------- 5.5/11.9 MB 832.6 kB/s eta 0:00:08
     ------------------ -------------------- 5.5/11.9 MB 832.6 kB/s eta 0:00:08
     ------------------ -------------------- 5.5/11.9 MB 832.6 kB/s eta 0:00:08
     ------------------ -------------------- 5.5/11.9 MB 832.6 kB/s eta 0:00:08
     ------------------ -------------------- 5.8/11.9 MB 781.2 kB/s eta 0:00:08
     ------------------- ------------------- 6.0/11.9 MB 783.6 kB/s eta 0:00:08
     -------------------- ------------------ 6.3/11.9 MB 795.6 kB/s eta 0:00:07
     --------------------- ----------------- 6.6/11.9 MB 810.1 kB/s eta 0:00:07
     --------------------- ----------------- 6.6/11.9 MB 810.1 kB/s eta 0:00:07
     --------------------- ----------------- 6.6/11.9 MB 810.1 kB/s eta 0:00:07
     --------------------- ----------------- 6.6/11.9 MB 810.1 kB/s eta 0:00:07
     ---------------------- ---------------- 6.8/11.9 MB 776.7 kB/s eta 0:00:07
     ----------------------- --------------- 7.1/11.9 MB 784.5 kB/s eta 0:00:07
     ------------------------ -------------- 7.3/11.9 MB 793.3 kB/s eta 0:00:06
     ------------------------- ------------- 7.6/11.9 MB 803.0 kB/s eta 0:00:06
     ------------------------- ------------- 7.9/11.9 MB 813.6 kB/s eta 0:00:05
     ------------------------- ------------- 7.9/11.9 MB 813.6 kB/s eta 0:00:05
     -------------------------- ------------ 8.1/11.9 MB 811.8 kB/s eta 0:00:05
     --------------------------- ----------- 8.4/11.9 MB 817.7 kB/s eta 0:00:05
     ---------------------------- ---------- 8.7/11.9 MB 824.7 kB/s eta 0:00:04
     ----------------------------- --------- 8.9/11.9 MB 832.5 kB/s eta 0:00:04
     ------------------------------ -------- 9.2/11.9 MB 840.0 kB/s eta 0:00:04
     ------------------------------- ------- 9.4/11.9 MB 849.8 kB/s eta 0:00:03
     ------------------------------- ------- 9.4/11.9 MB 849.8 kB/s eta 0:00:03
     ------------------------------- ------- 9.4/11.9 MB 849.8 kB/s eta 0:00:03
     ------------------------------- ------- 9.7/11.9 MB 834.2 kB/s eta 0:00:03
     ------------------------------- ------ 10.0/11.9 MB 833.2 kB/s eta 0:00:03
     -------------------------------- ----- 10.2/11.9 MB 839.9 kB/s eta 0:00:02
     --------------------------------- ---- 10.5/11.9 MB 846.5 kB/s eta 0:00:02
     ---------------------------------- --- 10.7/11.9 MB 852.7 kB/s eta 0:00:02
     ----------------------------------- -- 11.0/11.9 MB 860.9 kB/s eta 0:00:01
     ----------------------------------- -- 11.0/11.9 MB 860.9 kB/s eta 0:00:01
     ----------------------------------- -- 11.0/11.9 MB 860.9 kB/s eta 0:00:01
     ------------------------------------ - 11.3/11.9 MB 839.8 kB/s eta 0:00:01
     ------------------------------------ - 11.5/11.9 MB 844.7 kB/s eta 0:00:01
     -------------------------------------  11.8/11.9 MB 849.5 kB/s eta 0:00:01
     -------------------------------------- 11.9/11.9 MB 850.7 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (pyproject.toml): started
  Building wheel for mysql-connector (pyproject.toml): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247973 sha256=a10c0480c6310436c5b3fe94684d8bb4dcbd3ead130c8737533b117cbb11f9a0
  Stored in directory: c:\users\1232303485\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

*EXPLICAÇÃO*

*Importação do módulo:* O código começa importando a biblioteca mysql.connector, que é usada para conectar-se a um banco de dados MySQL.

*Estabelecendo a conexão:*

python
Copiar código
minha_conexao_mysql = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
)
*Aqui, você está criando uma conexão com o servidor MySQL. Os parâmetros especificados são:*

*host:* O endereço do servidor MySQL (neste caso, localhost, que significa que o banco de dados está rodando na mesma máquina).
*user:* O nome do usuário que está tentando se conectar (neste caso, root).
*password:* A senha do usuário (aqui está vazia, o que significa que o usuário root não tem senha).
*Criando um cursor:*

python
Copiar código
meu_cursor = minha_conexao_mysql.cursor()
Um cursor é um objeto que permite executar comandos SQL e interagir com o banco de dados. Neste caso, você está criando um cursor a partir da conexão estabelecida.

*Executando um comando SQL:*

python
Copiar código
meu_cursor.execute("SHOW DATABASES")
Este comando SQL SHOW DATABASES é usado para listar todos os bancos de dados disponíveis no servidor MySQL.

*Iterando sobre os resultados:*

python
Copiar código
for z in meu_cursor:
    print(z)
Aqui, você está iterando sobre os resultados do comando executado. Cada z representa um banco de dados encontrado, e o print(z) imprime cada um deles.

*Resumo:*
O código conecta-se a um servidor MySQL, executa um comando para listar todos os bancos de dados e imprime cada um deles. Se você rodar esse código em um ambiente onde o MySQL está configurado corretamente, verá a lista de bancos de dados disponíveis.

In [40]:
import mysql.connector

minha_conexao_mysql = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
)
meu_cursor = minha_conexao_mysql.cursor()
meu_cursor.execute("SHOW DATABASES")

for z in meu_cursor:
    print(z)

('aula1',)
('aula2',)
('aula3',)
('aula4',)
('aulabackenddb2',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('teste2',)
('teste3',)

*EXPLICAÇÃO*

criando banco de dados

In [12]:
meu_cursor.execute("CREATE DATABASE aulabackenddb2")

*EXPLICAÇÃO*

criando mais 4 banco de dados

In [13]:
meu_cursor.execute("CREATE DATABASE aula1")
meu_cursor.execute("CREATE DATABASE aula2")
meu_cursor.execute("CREATE DATABASE aula3")
meu_cursor.execute("CREATE DATABASE aula4")

*EXPLICAÇÃO*

acessando banco de dados

In [41]:
meu_cursor.execute("USE aulabackenddb2")

*EXPLICAÇÃO*

criando tabela

In [16]:
meu_cursor.execute("CREATE TABLE dados_pessoais (nome VARCHAR(255), endereco VARCHAR(255))")

*EXPLICAÇÃO*

mostrar tabela

In [35]:
meu_cursor.execute("SHOW TABLES")
for z in meu_cursor:
    print(z)

('dados_pessoais',)

*EXPLICAÇÃO*

criando tabala com chave primária

In [36]:
meu_cursor.execute("CREATE TABLE dados_pessoais_2 (id INT AUTO_INCREMENT PRIMARY KEY, nome VARCHAR(255), endereco VARCHAR(255))")

*EXPLICAÇÃO*

alterar tabela adcionando coluna

In [49]:
meu_cursor.execute("ALTER TABLE dados_pessoais ADD COLUMN cpf VARCHAR(11)")

*EXPLICAÇÃO*

alterar tabela adcionando chave primaria

In [50]:
meu_cursor.execute("ALTER TABLE dados_pessoais ADD PRIMARY KEY (cpf)")

IntegrityError: 1062 (23000): Duplicate entry '' for key 'PRIMARY'

*EXPLICAÇÃO*

In [38]:
sql = "INSERT INTO dados_pessoais (nome, endereco) VALUES (%s, %s)"
valor = ("Marilia Gabriella do Nascimento Barbosa", "Rua do Machado")
meu_cursor.execute(sql, valor)

In [ ]:
# sql = "INSERT INTO dados_pessoais_2 (id, nome, endereco) VALUES (%s, %s, %s)"
# valor = ("Marilia Gabriella do Nascimento Barbosa", "Rua do Machado")
# meu_cursor.execute(sql, valor)

*EXPLICAÇÃO*

In [39]:
minha_conexao_mysql.commit()
print(meu_cursor.rowcount, "nossa linha foi inserida")

1 nossa linha foi inserida

*EXPLICAÇÃO*

In [ ]:
valor = ("Fernando Alves", "Avenida do Mar")
meu_cursor.execute(sql, valor)

In [45]:
valor = ("Ana Clara da Silva", "Avenida das Flores")
meu_cursor.execute(sql, valor)
valor = ("Carlos Eduardo Santos", "Rua das Palmeiras")
meu_cursor.execute(sql, valor)
valor = ("Fernanda Oliveira", "Travessa da Luz")
meu_cursor.execute(sql, valor)
valor = ("Ricardo Lima", "Rua do Sol")
meu_cursor.execute(sql, valor)
valor = ("Juliana Costa", "Avenida Central")
meu_cursor.execute(sql, valor)
valor = ("Mateus Pereira", "Rua da Liberdade")
meu_cursor.execute(sql, valor)
valor = ("Sofia Martins", "Avenida da Esperança")
meu_cursor.execute(sql, valor)
valor = ("Gabriel Almeida", "Rua Nova")
meu_cursor.execute(sql, valor)
valor = ("Isabela Ferreira", "Avenida dos Lírios")
meu_cursor.execute(sql, valor)
valor = ("Lucas Rocha", "Rua das Orquídeas")
meu_cursor.execute(sql, valor)
valor = ("Mariana Santos", "Praça das Águas")
meu_cursor.execute(sql, valor)
valor = ("Thiago Mendes", "Rua do Campo")
meu_cursor.execute(sql, valor)
valor = ("Clara Moreira", "Avenida do Pôr do Sol")
meu_cursor.execute(sql, valor)
valor = ("Eduardo Dias", "Rua das Estrelas")
meu_cursor.execute(sql, valor)
valor = ("Lívia Torres", "Rua Verde")
meu_cursor.execute(sql, valor)
valor = ("Henrique Gomes", "Avenida do Futuro")
meu_cursor.execute(sql, valor)
valor = ("Patrícia Ribeiro", "Rua das Acácias")
meu_cursor.execute(sql, valor)
valor = ("Vinícius Martins", "Avenida dos Girassóis")
meu_cursor.execute(sql, valor)
valor = ("Larissa Souza", "Rua do Horizonte")
meu_cursor.execute(sql, valor)

*EXPLICAÇÃO*

In [44]:
minha_conexao_mysql.commit()
print(meu_cursor.rowcount, "varias linhas adcionadas")

1 varias linhas adcionadas

In [46]:
minha_conexao_mysql.commit()
print(meu_cursor.rowcount, "19 linhas adcionadas")

1 19 linhas adcionadas

*EXPLICAÇÃO*

varios num mesmo valor

In [47]:
sql = "INSERT INTO dados_pessoais (nome, endereco) VALUES (%s, %s)"
valores = [
    ("Beatriz Andrade", "Rua dos Sabiás"),
    ("Roberto Carvalho", "Avenida dos Jacarandás"),
    ("Julio César", "Rua dos Pinheiros"),
    ("Ana Beatriz", "Rua das Flores"),
    ("Marcio Silva", "Avenida do Coração"),
    ("Gustavo Ferreira", "Rua da Serra"),
    ("Rafaela Lima", "Praça da Amizade"),
    ("Pedro Paulo", "Rua do Sol Nascente"),
    ("Catarina Martins", "Avenida da Paz"),
    ("Sérgio Mendes", "Rua da Alegria"),
    ("Valentina Costa", "Rua das Orquídeas"),
    ("Daniel Almeida", "Avenida do Amor"),
    ("Tatiane Santos", "Rua do Bosque"),
    ("Fábio Oliveira", "Avenida do Sol"),
    ("Mariana Ribeiro", "Rua das Palmeiras"),
    ("Luan Santos", "Rua da Lua"),
    ("Tiago Moreira", "Avenida da Vitória"),
    ("Natália Costa", "Rua da Esperança"),
    ("Jorge Lima", "Avenida dos Pássaros"),
    ("Amanda Torres", "Rua da Independência"),
    ("Felipe Rocha", "Avenida dos Anjos"),
    ("Cristina Mendes", "Rua do Comércio"),
    ("Fernando Cardoso", "Avenida dos Carvalhos"),
    ("Larissa Dias", "Rua da Colina"),
    ("Cecília Almeida", "Avenida do Verde"),
    ("Robson Silva", "Rua do Lago"),
    ("Tânia Lima", "Avenida da Luz"),
    ("Cláudio Nascimento", "Rua dos Girassóis"),
    ("Simone Alves", "Avenida da Primavera"),
    ("Eduardo Santos", "Rua da Paz"),
    ("Patrícia Costa", "Avenida dos Lírios"),
    ("Rodrigo Gomes", "Rua do Pão"),
    ("Camila Almeida", "Avenida do Oceano"),
    ("Leonardo Silva", "Rua da Esperança"),
    ("Bruna Ferreira", "Avenida do Jardim"),
    ("Gisele Mendes", "Rua das Aves"),
    ("Hugo Carvalho", "Avenida do Futuro"),
    ("Thiago Ribeiro", "Rua do Vale"),
    ("Nina Martins", "Avenida das Montanhas"),
    ("Murilo Costa", "Rua da Amizade"),
    ("Rafael Andrade", "Avenida das Estações"),
    ("Isadora Lima", "Rua do Sol Poente"),
    ("Victor Santos", "Avenida do Horizonte"),
    ("Cíntia Torres", "Rua do Amor"),
    ("Vinícius Ferreira", "Avenida dos Melhores"),
    ("Ana Paula", "Rua das Águas"),
    ("Renan Alves", "Avenida do Arco-íris")
]
meu_cursor.executemany(sql, valores)

In [48]:
minha_conexao_mysql.commit()
print(meu_cursor.rowcount, "40 linhas adcionadas")

47 40 linhas adcionadas

*EXPLICAÇÃO*

select

In [51]:
meu_cursor.execute("SELECT * FROM dados_pessoais")

*EXPLICAÇÃO*

retorna todos os dados

In [52]:
nosso_resultado = meu_cursor.fetchall()

*EXPLICAÇÃO*

print

In [53]:
for x in nosso_resultado:
    print(x)

('Marilia Gabriella do Nascimento Barbosa', 'Rua do Machado', None)
('Fernando Alves', 'Avenida do Mar', None)
('Ana Clara da Silva', 'Avenida das Flores', None)
('Carlos Eduardo Santos', 'Rua das Palmeiras', None)
('Fernanda Oliveira', 'Travessa da Luz', None)
('Ricardo Lima', 'Rua do Sol', None)
('Juliana Costa', 'Avenida Central', None)
('Mateus Pereira', 'Rua da Liberdade', None)
('Sofia Martins', 'Avenida da Esperança', None)
('Gabriel Almeida', 'Rua Nova', None)
('Isabela Ferreira', 'Avenida dos Lírios', None)
('Lucas Rocha', 'Rua das Orquídeas', None)
('Mariana Santos', 'Praça das Águas', None)
('Thiago Mendes', 'Rua do Campo', None)
('Clara Moreira', 'Avenida do Pôr do Sol', None)
('Eduardo Dias', 'Rua das Estrelas', None)
('Lívia Torres', 'Rua Verde', None)
('Henrique Gomes', 'Avenida do Futuro', None)
('Patrícia Ribeiro', 'Rua das Acácias', None)
('Vinícius Martins', 'Avenida dos Girassóis', None)
('Larissa Souza', 'Rua do Horizonte', None)
('Beatriz Andrade', 'Rua dos Sabiás', None)
('Roberto Carvalho', 'Avenida dos Jacarandás', None)
('Julio César', 'Rua dos Pinheiros', None)
('Ana Beatriz', 'Rua das Flores', None)
('Marcio Silva', 'Avenida do Coração', None)
('Gustavo Ferreira', 'Rua da Serra', None)
('Rafaela Lima', 'Praça da Amizade', None)
('Pedro Paulo', 'Rua do Sol Nascente', None)
('Catarina Martins', 'Avenida da Paz', None)
('Sérgio Mendes', 'Rua da Alegria', None)
('Valentina Costa', 'Rua das Orquídeas', None)
('Daniel Almeida', 'Avenida do Amor', None)
('Tatiane Santos', 'Rua do Bosque', None)
('Fábio Oliveira', 'Avenida do Sol', None)
('Mariana Ribeiro', 'Rua das Palmeiras', None)
('Luan Santos', 'Rua da Lua', None)
('Tiago Moreira', 'Avenida da Vitória', None)
('Natália Costa', 'Rua da Esperança', None)
('Jorge Lima', 'Avenida dos Pássaros', None)
('Amanda Torres', 'Rua da Independência', None)
('Felipe Rocha', 'Avenida dos Anjos', None)
('Cristina Mendes', 'Rua do Comércio', None)
('Fernando Cardoso', 'Avenida dos Carvalhos', None)
('Larissa Dias', 'Rua da Colina', None)
('Cecília Almeida', 'Avenida do Verde', None)
('Robson Silva', 'Rua do Lago', None)
('Tânia Lima', 'Avenida da Luz', None)
('Cláudio Nascimento', 'Rua dos Girassóis', None)
('Simone Alves', 'Avenida da Primavera', None)
('Eduardo Santos', 'Rua da Paz', None)
('Patrícia Costa', 'Avenida dos Lírios', None)
('Rodrigo Gomes', 'Rua do Pão', None)
('Camila Almeida', 'Avenida do Oceano', None)
('Leonardo Silva', 'Rua da Esperança', None)
('Bruna Ferreira', 'Avenida do Jardim', None)
('Gisele Mendes', 'Rua das Aves', None)
('Hugo Carvalho', 'Avenida do Futuro', None)
('Thiago Ribeiro', 'Rua do Vale', None)
('Nina Martins', 'Avenida das Montanhas', None)
('Murilo Costa', 'Rua da Amizade', None)
('Rafael Andrade', 'Avenida das Estações', None)
('Isadora Lima', 'Rua do Sol Poente', None)
('Victor Santos', 'Avenida do Horizonte', None)
('Cíntia Torres', 'Rua do Amor', None)
('Vinícius Ferreira', 'Avenida dos Melhores', None)
('Ana Paula', 'Rua das Águas', None)
('Renan Alves', 'Avenida do Arco-íris', None)

*EXPLICAÇÃO*

consulta

In [60]:
sql = "SELECT * FROM dados_pessoais WHERE nome = 'Vitoria'"
meu_cursor.execute(sql)

In [61]:
nosso_resultado = meu_cursor.fetchall()

In [62]:
for x in nosso_resultado:
    print(x)

In [63]:
sql = "SELECT * FROM dados_pessoais WHERE nome = 'Ana'"
meu_cursor.execute(sql)

In [64]:
nosso_resultado = meu_cursor.fetchall()

In [65]:
for x in nosso_resultado:
    print(x)

*EXPLICAÇÃO*

coringa

In [83]:
sql = "SELECT * FROM dados_pessoais WHERE endereco LIKE '%ua%' "
meu_cursor.execute(sql)

In [84]:
nosso_resultado = meu_cursor.fetchall()

In [85]:
for x in nosso_resultado:
    print(x)

('Marilia Gabriella do Nascimento Barbosa', 'Rua do Machado', None)
('Carlos Eduardo Santos', 'Rua das Palmeiras', None)
('Ricardo Lima', 'Rua do Sol', None)
('Mateus Pereira', 'Rua da Liberdade', None)
('Gabriel Almeida', 'Rua Nova', None)
('Lucas Rocha', 'Rua das Orquídeas', None)
('Mariana Santos', 'Praça das Águas', None)
('Thiago Mendes', 'Rua do Campo', None)
('Eduardo Dias', 'Rua das Estrelas', None)
('Lívia Torres', 'Rua Verde', None)
('Patrícia Ribeiro', 'Rua das Acácias', None)
('Larissa Souza', 'Rua do Horizonte', None)
('Beatriz Andrade', 'Rua dos Sabiás', None)
('Julio César', 'Rua dos Pinheiros', None)
('Ana Beatriz', 'Rua das Flores', None)
('Gustavo Ferreira', 'Rua da Serra', None)
('Pedro Paulo', 'Rua do Sol Nascente', None)
('Sérgio Mendes', 'Rua da Alegria', None)
('Valentina Costa', 'Rua das Orquídeas', None)
('Tatiane Santos', 'Rua do Bosque', None)
('Mariana Ribeiro', 'Rua das Palmeiras', None)
('Luan Santos', 'Rua da Lua', None)
('Natália Costa', 'Rua da Esperança', None)
('Amanda Torres', 'Rua da Independência', None)
('Cristina Mendes', 'Rua do Comércio', None)
('Larissa Dias', 'Rua da Colina', None)
('Robson Silva', 'Rua do Lago', None)
('Cláudio Nascimento', 'Rua dos Girassóis', None)
('Eduardo Santos', 'Rua da Paz', None)
('Rodrigo Gomes', 'Rua do Pão', None)
('Leonardo Silva', 'Rua da Esperança', None)
('Gisele Mendes', 'Rua das Aves', None)
('Thiago Ribeiro', 'Rua do Vale', None)
('Murilo Costa', 'Rua da Amizade', None)
('Isadora Lima', 'Rua do Sol Poente', None)
('Cíntia Torres', 'Rua do Amor', None)
('Ana Paula', 'Rua das Águas', None)

In [86]:
sql = "SELECT * FROM dados_pessoais ORDER BY nome"
meu_cursor.execute(sql)

In [87]:
nosso_resultado = meu_cursor.fetchall()

In [88]:
for x in nosso_resultado:
    print(x)

('Amanda Torres', 'Rua da Independência', None)
('Ana Beatriz', 'Rua das Flores', None)
('Ana Clara da Silva', 'Avenida das Flores', None)
('Ana Paula', 'Rua das Águas', None)
('Beatriz Andrade', 'Rua dos Sabiás', None)
('Bruna Ferreira', 'Avenida do Jardim', None)
('Camila Almeida', 'Avenida do Oceano', None)
('Carlos Eduardo Santos', 'Rua das Palmeiras', None)
('Catarina Martins', 'Avenida da Paz', None)
('Cecília Almeida', 'Avenida do Verde', None)
('Cíntia Torres', 'Rua do Amor', None)
('Clara Moreira', 'Avenida do Pôr do Sol', None)
('Cláudio Nascimento', 'Rua dos Girassóis', None)
('Cristina Mendes', 'Rua do Comércio', None)
('Daniel Almeida', 'Avenida do Amor', None)
('Eduardo Dias', 'Rua das Estrelas', None)
('Eduardo Santos', 'Rua da Paz', None)
('Fábio Oliveira', 'Avenida do Sol', None)
('Felipe Rocha', 'Avenida dos Anjos', None)
('Fernanda Oliveira', 'Travessa da Luz', None)
('Fernando Alves', 'Avenida do Mar', None)
('Fernando Cardoso', 'Avenida dos Carvalhos', None)
('Gabriel Almeida', 'Rua Nova', None)
('Gisele Mendes', 'Rua das Aves', None)
('Gustavo Ferreira', 'Rua da Serra', None)
('Henrique Gomes', 'Avenida do Futuro', None)
('Hugo Carvalho', 'Avenida do Futuro', None)
('Isabela Ferreira', 'Avenida dos Lírios', None)
('Isadora Lima', 'Rua do Sol Poente', None)
('Jorge Lima', 'Avenida dos Pássaros', None)
('Juliana Costa', 'Avenida Central', None)
('Julio César', 'Rua dos Pinheiros', None)
('Larissa Dias', 'Rua da Colina', None)
('Larissa Souza', 'Rua do Horizonte', None)
('Leonardo Silva', 'Rua da Esperança', None)
('Lívia Torres', 'Rua Verde', None)
('Luan Santos', 'Rua da Lua', None)
('Lucas Rocha', 'Rua das Orquídeas', None)
('Marcio Silva', 'Avenida do Coração', None)
('Mariana Ribeiro', 'Rua das Palmeiras', None)
('Mariana Santos', 'Praça das Águas', None)
('Marilia Gabriella do Nascimento Barbosa', 'Rua do Machado', None)
('Mateus Pereira', 'Rua da Liberdade', None)
('Murilo Costa', 'Rua da Amizade', None)
('Natália Costa', 'Rua da Esperança', None)
('Nina Martins', 'Avenida das Montanhas', None)
('Patrícia Costa', 'Avenida dos Lírios', None)
('Patrícia Ribeiro', 'Rua das Acácias', None)
('Pedro Paulo', 'Rua do Sol Nascente', None)
('Rafael Andrade', 'Avenida das Estações', None)
('Rafaela Lima', 'Praça da Amizade', None)
('Renan Alves', 'Avenida do Arco-íris', None)
('Ricardo Lima', 'Rua do Sol', None)
('Roberto Carvalho', 'Avenida dos Jacarandás', None)
('Robson Silva', 'Rua do Lago', None)
('Rodrigo Gomes', 'Rua do Pão', None)
('Sérgio Mendes', 'Rua da Alegria', None)
('Simone Alves', 'Avenida da Primavera', None)
('Sofia Martins', 'Avenida da Esperança', None)
('Tânia Lima', 'Avenida da Luz', None)
('Tatiane Santos', 'Rua do Bosque', None)
('Thiago Mendes', 'Rua do Campo', None)
('Thiago Ribeiro', 'Rua do Vale', None)
('Tiago Moreira', 'Avenida da Vitória', None)
('Valentina Costa', 'Rua das Orquídeas', None)
('Victor Santos', 'Avenida do Horizonte', None)
('Vinícius Ferreira', 'Avenida dos Melhores', None)
('Vinícius Martins', 'Avenida dos Girassóis', None)

In [90]:
sql = "SELECT * FROM dados_pessoais ORDER BY nome DESC"
meu_cursor.execute(sql)

In [91]:
nosso_resultado = meu_cursor.fetchall()

In [92]:
for x in nosso_resultado:
    print(x)

('Vinícius Martins', 'Avenida dos Girassóis', None)
('Vinícius Ferreira', 'Avenida dos Melhores', None)
('Victor Santos', 'Avenida do Horizonte', None)
('Valentina Costa', 'Rua das Orquídeas', None)
('Tiago Moreira', 'Avenida da Vitória', None)
('Thiago Ribeiro', 'Rua do Vale', None)
('Thiago Mendes', 'Rua do Campo', None)
('Tatiane Santos', 'Rua do Bosque', None)
('Tânia Lima', 'Avenida da Luz', None)
('Sofia Martins', 'Avenida da Esperança', None)
('Simone Alves', 'Avenida da Primavera', None)
('Sérgio Mendes', 'Rua da Alegria', None)
('Rodrigo Gomes', 'Rua do Pão', None)
('Robson Silva', 'Rua do Lago', None)
('Roberto Carvalho', 'Avenida dos Jacarandás', None)
('Ricardo Lima', 'Rua do Sol', None)
('Renan Alves', 'Avenida do Arco-íris', None)
('Rafaela Lima', 'Praça da Amizade', None)
('Rafael Andrade', 'Avenida das Estações', None)
('Pedro Paulo', 'Rua do Sol Nascente', None)
('Patrícia Ribeiro', 'Rua das Acácias', None)
('Patrícia Costa', 'Avenida dos Lírios', None)
('Nina Martins', 'Avenida das Montanhas', None)
('Natália Costa', 'Rua da Esperança', None)
('Murilo Costa', 'Rua da Amizade', None)
('Mateus Pereira', 'Rua da Liberdade', None)
('Marilia Gabriella do Nascimento Barbosa', 'Rua do Machado', None)
('Mariana Santos', 'Praça das Águas', None)
('Mariana Ribeiro', 'Rua das Palmeiras', None)
('Marcio Silva', 'Avenida do Coração', None)
('Lucas Rocha', 'Rua das Orquídeas', None)
('Luan Santos', 'Rua da Lua', None)
('Lívia Torres', 'Rua Verde', None)
('Leonardo Silva', 'Rua da Esperança', None)
('Larissa Souza', 'Rua do Horizonte', None)
('Larissa Dias', 'Rua da Colina', None)
('Julio César', 'Rua dos Pinheiros', None)
('Juliana Costa', 'Avenida Central', None)
('Jorge Lima', 'Avenida dos Pássaros', None)
('Isadora Lima', 'Rua do Sol Poente', None)
('Isabela Ferreira', 'Avenida dos Lírios', None)
('Hugo Carvalho', 'Avenida do Futuro', None)
('Henrique Gomes', 'Avenida do Futuro', None)
('Gustavo Ferreira', 'Rua da Serra', None)
('Gisele Mendes', 'Rua das Aves', None)
('Gabriel Almeida', 'Rua Nova', None)
('Fernando Cardoso', 'Avenida dos Carvalhos', None)
('Fernando Alves', 'Avenida do Mar', None)
('Fernanda Oliveira', 'Travessa da Luz', None)
('Felipe Rocha', 'Avenida dos Anjos', None)
('Fábio Oliveira', 'Avenida do Sol', None)
('Eduardo Santos', 'Rua da Paz', None)
('Eduardo Dias', 'Rua das Estrelas', None)
('Daniel Almeida', 'Avenida do Amor', None)
('Cristina Mendes', 'Rua do Comércio', None)
('Cláudio Nascimento', 'Rua dos Girassóis', None)
('Clara Moreira', 'Avenida do Pôr do Sol', None)
('Cíntia Torres', 'Rua do Amor', None)
('Cecília Almeida', 'Avenida do Verde', None)
('Catarina Martins', 'Avenida da Paz', None)
('Carlos Eduardo Santos', 'Rua das Palmeiras', None)
('Camila Almeida', 'Avenida do Oceano', None)
('Bruna Ferreira', 'Avenida do Jardim', None)
('Beatriz Andrade', 'Rua dos Sabiás', None)
('Ana Paula', 'Rua das Águas', None)
('Ana Clara da Silva', 'Avenida das Flores', None)
('Ana Beatriz', 'Rua das Flores', None)
('Amanda Torres', 'Rua da Independência', None)